html {
    scroll-behavior: smooth;
}
:root {
    --main-color-1: #ff000075;
    --main-color-2: #f4433663;
    --main-color-3:#912018; 
    --nav-hovering-color: #ff0404;
    --section-background-color: #eeeeee;
    --feature-background-color: white;
    --how-it-work-boxes-bg-color: white;
    --paragraph-font-color:#433d45;
    --dark-theme-color: black;
    --main-transition: 0.3s;
    --main-transition2: 0.5s;
    --main-border-raduis: 13px;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
}
body {
    font-family: "Cairo", sans-serif;
}
body::selection {
    color:white ;
    background-color:var(--main-color-3) ;
}
body * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
    display: block;
}
a:active {
    color: red;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}